  <div class="container mt-5">
    <h1 class="text-center mb-4" style="color:#efefef">Project Index</h1>
    <div class="row">

      <div class="col-md-4 mb-4">
        <div class="card" style="height:350px">
          <div class="card-body align-center">
            <h5 class="card-title">HackITchen</h5>
            <p class="card-text">This project is Designed to help people decided on what to cook.
                                 in it's current stage it has recipies on. Future developments will include
                                 a rough pricing for ingredients to help users create decent meals during the cost of living
                                 crisis.</p>
            <a href="https://kitchen.leighhack.org" class="btn btn-primary">View App</a>
             <a href="https://github.com/leigh-hackspace/hackitchen" class="btn btn-primary">View Code</a>
            <hr><span class="badge badge-danger">Ruby</span> <span class="badge badge-primary">Middleman</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card" style="height:350px">
          <div class="card-body">
            <h5 class="card-title">Horti</h5>
            <p class="card-text">This project is centered around creating a automated garden. using various IOT devices
                                to monitor and Care for the garden. While also providing information on the
                                current plants in the garden such as how to care for them</p><br>
            <a href="https://keen-centaur-dc8bb5.netlify.app" class="btn btn-primary">View App</a>
            <a href="https://github.com/ponix4k/horti" class="btn btn-primary">View Code</a>
            <hr><span class="badge badge-danger">Ruby</span> <span class="badge badge-primary">Middleman</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card" style="height:350px">
          <div class="card-body">
            <h5 class="card-title">IP Checker</h5>
            <p class="card-text">I wrote this program to run as a cron task for the purpose of getting the current IP
                                 of my remote devbox. Which is useful if your ISP doenst have stikcy IP adresses and you 
                                 want to work on your remote system using its IP.</p><br>
            <a href="https://github.com/ponix4k/IPCheckers" class="btn btn-primary">Check It Out</a>
            <hr><span class="badge badge-success">Python</span>
          </div>
        </div>
      </div>

    </div>
  </div>
