<div class="content-section-active">
    <h2>WebScraper</h2>
    </br>
    <h3 class="WIP">STATUS : Work in progress </h3>
    <h3 class="WIP">LAST UPDATED : 2019-09-24</h3>
    </br>
    <p>
        A simple web scraper usiong beautiful soup
    </p>
    </br>

    <h3>The Project can be found<a href="https://github.com/ponix4k/WebScraper"> </br> > here </a></h3>

</div>