<!DOCTYPE html>
<html>
<head>
	<title>Johnze.co.uk Blog</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/590df6078a.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"  crossorigin="anonymous"></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style>
	</style>
</head>
<body class="bg-secondary bg-gradient">
  <%= partial "shared/navbar" %>
  <div class="container-fluid"> 
    <%= yield %>
  </div>
   <% partial "shared/footer" %>
</body>
</html>
