<style>
ul {
    list-style:none;
}

.center-text {
    justify-content: center;
}

</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <!-- Profile Photo -->
                            <img src="./images/avatar.png" alt="Profile Photo" class="img-fluid rounded-circle">
                        </div>
                        <div class="col-md-10">
                         <ul>
                          <hr>
                          <span class="center-text">
                            <li>Hi 👋 My name is John</li>
                            <li>I'm a cyber-security consultant and part time CTF doer </li>
                            <li>I Will mostly be posting stuff here to remind myself of things that i have done</li>
                            <li>But if it helps you and you dinf it usefull even better 🚀 </li>
                          </span>
                          <hr>
                          <li>Web Stuff</li>
                          <li>Previoisly I have worked with ruby based things (Ruby on Rails and Middleman)</li>
                          <li>I'm currently working on Hack-IT-chen</li>
                          <hr>
                          <li>🎏CTF Stuff 🎏 </li>
                          <li>I created a CTF Challenge that was used in the CTT 2022 advent CTF</li>
                          <hr>
                          <li>You can contact me at ponix@protonmail.com</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
